---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$darker:     #002b36;
$dark:       #073642;
$gray_dark:  #586e75;
$gray_light: #93a1a1;
$light:      #eee8d5;
$lighter:    #fdf6e3;
$yellow:     #b58900;
$orange:     #cb4b16;
$red:        #dc322f;
$magenta:    #d33682;
$violet:     #6c71c4;
$purple:     #800080;
$blue:       #268bd2;
$cyan:       #2aa198;
$green:      #859900;
$white:      #ffffff;

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 20px;

$color_bg:   $white;
$color_text: $gray_dark;

$color_bg_inverse:   $darker;
$color_text_inverse: $gray_light;

$height_nav_bar: 70px;

@import "base", "nav_bar", "footer", "syntax-highlighting", "bookmark-link";
