---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$dark1:   #002b36;
$dark2:   #073642;
$gray1:   #586e75;
$gray2:   #657b83;
$gray3:   #839496;
$gray4:   #93a1a1;
$light1:  #eee8d5;
$light2:  #fdf6e3;
$yellow:  #b58900;
$orange:  #cb4b16;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 18px;

$color_bg: rbg(255,255,255);
$color_bg_inverse: $dark1;

$color_text: $gray1;
$color_text_inverse: $gray4;

$color_link: $cyan;

$height_nav_bar: 70px;

$text-color: #111111;

@import "base", "nav_bar", "footer", "syntax-highlighting", "bookmark-link";
