body {
  background-color: #FBFBFB;
  color: #111111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; }

footer {
  background-color: #EEEEEE;
  padding-top: 3em;
  padding-bottom: 3em; }

i.fa {
  color: #888888; }

nav.navbar {
  border-radius: 0; }

.blog-post .blog-post-meta {
  color: #999999; }

div.highlighter-rouge .header {
  color: #eee8d5;
  background-color: #002b36;
  padding: 0.3em 0.8em;
  border-radius: 4px 4px 0 0; }
  div.highlighter-rouge .header:before {
    content: attr(data-path);
    padding: 0.1em; }
  div.highlighter-rouge .header:after {
    content: attr(data-language);
    padding: 0 0.6em;
    float: right;
    border-radius: 8px; }
  div.highlighter-rouge .header[data-language="ruby"]:after {
    background-color: #dc322f; }
  div.highlighter-rouge .header[data-language="yml"]:after {
    background-color: #6c71c4; }
  div.highlighter-rouge .header[data-language="shell"]:after {
    background-color: #859900; }
  div.highlighter-rouge .header[data-language="javascript"]:after {
    background-color: #b58900; }
  div.highlighter-rouge .header[data-language="handlebars"]:after {
    background-color: #cb4b16; }
div.highlighter-rouge pre {
  color: #93a1a1;
  background-color: #073642;
  padding: 0.1em 1em 1em 1em;
  border: 0;
  border-radius: 0 0 4px 4px; }
  div.highlighter-rouge pre .bp {
    color: #93a1a1; }
  div.highlighter-rouge pre .c {
    color: #586e75;
    font-style: italic; }
  div.highlighter-rouge pre .c1 {
    color: #586e75;
    font-style: italic; }
  div.highlighter-rouge pre .cm {
    color: #586e75;
    font-style: italic; }
  div.highlighter-rouge pre .cp {
    color: #AAFFFF;
    font-style: italic; }
  div.highlighter-rouge pre .cs {
    color: #586e75;
    font-style: italic; }
  div.highlighter-rouge pre .err {
    color: #93a1a1; }
  div.highlighter-rouge pre .g {
    color: #93a1a1; }
  div.highlighter-rouge pre .gd {
    color: #8a2be2;
    font-weight: bold;
    background-color: #008080; }
  div.highlighter-rouge pre .ge {
    color: #93a1a1; }
  div.highlighter-rouge pre .gh {
    color: #ff00ff;
    font-weight: bold; }
  div.highlighter-rouge pre .gi {
    color: #93a1a1;
    font-weight: bold;
    background-color: #00008b; }
  div.highlighter-rouge pre .go {
    color: #404040;
    font-weight: bold; }
  div.highlighter-rouge pre .gp {
    color: #93a1a1; }
  div.highlighter-rouge pre .gr {
    color: #93a1a1;
    background-color: #c00000; }
  div.highlighter-rouge pre .gs {
    color: #93a1a1; }
  div.highlighter-rouge pre .gt {
    color: #93a1a1;
    background-color: #ff0000; }
  div.highlighter-rouge pre .gu {
    color: #ff00ff;
    font-weight: bold; }
  div.highlighter-rouge pre .hll {
    background-color: #ffffcc; }
  div.highlighter-rouge pre .il {
    color: #93a1a1; }
  div.highlighter-rouge pre .k {
    color: #859900; }
  div.highlighter-rouge pre .kc {
    color: #dc322f; }
  div.highlighter-rouge pre .kd {
    color: #dc322f; }
  div.highlighter-rouge pre .kn {
    color: #dc322f; }
  div.highlighter-rouge pre .kp {
    color: #859900; }
  div.highlighter-rouge pre .kr {
    color: #dc322f; }
  div.highlighter-rouge pre .kt {
    color: #AAAA77; }
  div.highlighter-rouge pre .l {
    color: #93a1a1; }
  div.highlighter-rouge pre .ld {
    color: #93a1a1; }
  div.highlighter-rouge pre .m {
    color: #93a1a1; }
  div.highlighter-rouge pre .mf {
    color: #93a1a1; }
  div.highlighter-rouge pre .mh {
    color: #93a1a1; }
  div.highlighter-rouge pre .mi {
    color: #93a1a1; }
  div.highlighter-rouge pre .mo {
    color: #93a1a1; }
  div.highlighter-rouge pre .n {
    color: #93a1a1; }
  div.highlighter-rouge pre .na {
    color: #93a1a1; }
  div.highlighter-rouge pre .nb {
    color: #859900; }
  div.highlighter-rouge pre .nc {
    color: #b58900; }
  div.highlighter-rouge pre .nd {
    color: #93a1a1; }
  div.highlighter-rouge pre .ne {
    color: #93a1a1; }
  div.highlighter-rouge pre .nf {
    color: #93a1a1; }
  div.highlighter-rouge pre .ni {
    color: #33AA00; }
  div.highlighter-rouge pre .nl {
    color: #b58900; }
  div.highlighter-rouge pre .nn {
    color: #b58900; }
  div.highlighter-rouge pre .no {
    color: #2aa198; }
  div.highlighter-rouge pre .nt {
    color: #dc322f; }
  div.highlighter-rouge pre .nv {
    color: #b58900; }
  div.highlighter-rouge pre .nx {
    color: #93a1a1; }
  div.highlighter-rouge pre .o {
    color: #dc322f; }
  div.highlighter-rouge pre .ow {
    color: #93a1a1; }
  div.highlighter-rouge pre .p {
    color: #93a1a1; }
  div.highlighter-rouge pre .pi {
    color: #dc322f; }
  div.highlighter-rouge pre .py {
    color: #93a1a1; }
  div.highlighter-rouge pre .s {
    color: #268bd2; }
  div.highlighter-rouge pre .s1 {
    color: #2aa198; }
  div.highlighter-rouge pre .s2 {
    color: #2aa198; }
  div.highlighter-rouge pre .sb {
    color: #859900; }
  div.highlighter-rouge pre .sc {
    color: #859900; }
  div.highlighter-rouge pre .sd {
    color: #859900; }
  div.highlighter-rouge pre .se {
    color: #859900; }
  div.highlighter-rouge pre .sh {
    color: #859900; }
  div.highlighter-rouge pre .si {
    color: #dc322f; }
  div.highlighter-rouge pre .sr {
    color: #859900; }
  div.highlighter-rouge pre .ss {
    color: #2aa198; }
  div.highlighter-rouge pre .sx {
    color: #859900; }
  div.highlighter-rouge pre .vc {
    color: #b58900; }
  div.highlighter-rouge pre .vg {
    color: #b58900; }
  div.highlighter-rouge pre .vi {
    color: #268bd2; }
  div.highlighter-rouge pre .w {
    color: #93a1a1; }
  div.highlighter-rouge pre .x {
    color: #93a1a1; }
