---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$darker: #002B36;
$dark: #073642;
$gray_dark: #586E75;
$gray_light: #93A1A1;
$gray_lighter: #F5F5F5;
$light: #EEE8D5;
$lighter: #FDF6E3;
$yellow: #B58900;
$orange: #CB4B16;
$red: #DC322F;
$magenta: #D33682;
$violet: #6C71C4;
$purple: #800080;
$blue: #268BD2;
$cyan: #2AA198;
$green: #859900;
$white: #FFFFFF;

$height_top_menu: 3.5rem;

@import "base", "top_menu", "posts", "post", "footer", "syntax-highlighting", "bookmark-link";
