<footer class="small">
  <div class="container">
    <div class="col-md-10">
      <img src="{{ site.data.author.image }}" alt="{{ site.data.author.name }}" height="80" width="80" class="img-responsive img-thumbnail pull-left">
      <ul class="list-unstyled">
        <li>{% include social_link.html social="email" %}</li>
        <li>{% include social_link.html social="linkedin" %}</li>
        <li>{% include social_link.html social="github" %}</li>
        <li>{% include social_link.html social="twitter" %}</li>
      </ul>
    </div>
    <div class="col-md-2">
      <p>{{ site.data.site.description }}</p>
      <p>
        subscribe
        <a href="{{ "/feed.xml" }}">
          via RSS
          <i class="fa fa-rss fa-lg" aria-hidden="true" title="rss"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
