<footer class="small">
  <div class="container">
    <div class="col-md-4">
      <img src="{{ site.image }}" alt="{{ site.name }}" height="80" width="80">
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled">
        <li>{% include social_link.html social="email" %}</li>
        <li>{% include social_link.html social="linkedin" %}</li>
        <li>{% include social_link.html social="github" %}</li>
        <li>{% include social_link.html social="twitter" %}</li>
      </ul>
    </div>
    <div class="col-md-4">
      <p>{% t description %}</p>
      <p>
        subscribe
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          via RSS
          <i class="fa fa-rss fa-lg" aria-hidden="true" title="rss"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
