<nav class="navbar navbar-fixed-top inverse uppercase">
  <div class="container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ '/' }}">
        <img src="/images/logo.png" alt="{{ site.data.site.title }}" class="pull-left">
        <span>{{ site.data.site.title }}</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% assign pageCategory = page.category | default: page.categories.first %}
        {% for category in site.categories %}
          <li class="{% if pageCategory == category.first %}active{% endif %}">
            <a href="/{{ category.first }}/">{{ category.first }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
