body {
  background-color: $color_bg;
  color: $color_text;
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding-top: $height_nav_bar;
}

a, a:hover {
  color: $color_link;
  text-decoration: none;
}

a:hover {
  font-weight: 600;
}

i.fa {
  color: $gray1;
}

.inverse {
  background-color: $color_bg_inverse;
  color: $color_text_inverse;

  i.fa {
    color: $gray4;
  }
}

.image-top {
  width: 100%;
  max-height: 150px;
}
