html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: calc(18px);
}

body {
  background-color: $dark;
  color: $gray_dark;
  margin: 0;

  ::selection {
    background-color: $darker;
    color: $gray_light;
  }
}

.theme-dark {
  background-color: $dark;
  color: $gray_light;

  ::selection {
    background-color: $white;
    color: $gray_dark;
  }
}

.theme-light {
  background-color: $light;
  color: $gray_light;

  ::selection {
    background-color: $white;
    color: $gray_dark;
  }
}

p {
  line-height: 1.5rem;
  margin: 0 0 1rem 0;
  padding: 0;
}

dl {
  margin: 0;

  dd {
    margin: 0;
  }
}

a {
  color: $cyan;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: $cyan;
  text-decoration: underline;
}

i.fa {
  color: $gray_dark;
}

time {
  font-style: italic;
}

h1 {
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
}

h3 {
  font-size: 1.4rem;
  margin: 0 0 1rem 0;
}

h4 {
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

table {
  margin-bottom: 1rem;

  tbody {
    tr:nth-of-type(odd) {
      background-color: $gray_lighter;
    }
    tr:nth-of-type(even) {
      background-color: $white;
    }
  }

  th {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    text-align: left;
  }
  td {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
  }
}

img {
  border: 1px solid $darker;
  height: auto;
  width: 100%;
}

ul {
  padding: 0;
  list-style-type: none;

  li {
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' width='0.7rem' height='1.4rem' data-prefix='fas' data-icon='angle-right' class='svg-inline--fa fa-angle-right fa-w-8' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'%3E%3Cpath fill='%2393A1A1' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'%3E%3C/path%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    margin: 0.25rem 0;
    padding-left: 1rem;
  }
}

blockquote {
  border-left: 1rem solid $gray_light;
  background-color: $gray_lighter;
  padding: 1rem 0.5rem;
  margin: 1rem 0;

  p {
    margin: 0;
  }
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1000px;
}

.main-content {
  background-color: $white;
  margin-top: $height_top_menu;
  padding: 1rem 0;
  width: 100%;
}

.label {
  background-color: $lighter;
  color: $gray_dark;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
}

.two-column {
  display: inline-block;
  width: 48%;

  @media (max-width: 500px) {
    display: block;
    width: 100%;
  }
}
