body {
  background-color: $color_bg;
  color: $color_text;
  font-family: $base-font-family;
  font-size: $base-font-size;
  padding-top: $height_nav_bar;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

a, a:hover {
  color: $color_link;
  text-decoration: none;
}

a:hover {
  font-weight: 600;
}

i.fa {
  color: $gray1;
}

.inverse {
  background-color: $color_bg_inverse;
  color: $color_text_inverse;

  i.fa {
    color: $gray4;
  }
}

.image-top {
  width: 100%;
  max-height: 150px;
}

.light {
  color: $color_text_inverse;
}

time {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.label-light {
  background-color: $light1;
  color: $gray4;
}
