a.bookmark {
  width: 25px;
  padding-top: 5px;
  float: left;
  margin-left: -25px;
  font-size: 0.7em;
  visibility: hidden;
}

h1,h2,h3,h4,h5,h6 {
  &:hover {
    a.bookmark {
      visibility: visible;
    }
  }
  &:before {
    display: block;
    content: " ";
    margin-top: -($height_nav_bar + 5px);
    height: ($height_nav_bar + 5px);
    visibility: hidden;
  }
}
