a.bookmark {
  float: left;
  padding-top: 0.3rem;
  margin-left: -1.3rem;
  font-size: 1.4rem;
  visibility: hidden;
}

h1,h2,h3,h4,h5,h6 {
  &:hover {
    a.bookmark {
      visibility: visible;
    }
  }

  &:before {
    display: block;
    content: " ";
    margin-top: -($height_top_menu + 0.3rem);
    height: ($height_top_menu + 0.3rem);
    visibility: hidden;
  }
}
