nav.navbar {
  background-color: $color_bg_nav_bar;
  border-radius: 0;
  min-height: $height_nav_bar;

  a {
    color: $color_link_nav_bar;
    letter-spacing: 2px;
    line-height: $height_nav_bar - 30px;
    text-transform: uppercase;
  }
  a.navbar-brand {
    font-weight: 200;

    img {
      margin-right: 15px;
    }
  }
  li a {
    font-weight: 400;
  }
  li.active a {
    color: $color_link_nav_bar_active;
    font-weight: 800;
  }
  li:hover a {
    background-color: $color_bg_nav_bar;
    color: $color_link_nav_bar_active;
  }

  .navbar-toggle {
    border-color: $color_link_nav_bar;
    margin: ($height_nav_bar - 34px)/2;
  }

  .navbar-toggle .icon-bar {
    background-color: $color_link_nav_bar;
  }
}
