nav.navbar {
  min-height: $height_nav_bar;

  a {
    color: $color_text_inverse;
    letter-spacing: 2px;
    line-height: $height_nav_bar - 30px;
  }
  a.navbar-brand {
    img {
      margin-right: 15px;
    }
  }
  li.active a, li:hover a {
    background-color: $color_text_inverse;
    color: $color_bg_inverse;
    font-weight: 800;
  }

  .navbar-toggle {
    border-color: $color_text_inverse;
    margin: ($height_nav_bar - 34px)/2;

    .icon-bar {
      background-color: $color_text_inverse;
    }
  }
}
