article.presentation {
  min-height: 85vh;

  hr,
  header,
  footer,
  #content > * {
    display: none;
  }

  h1 {
    text-align: center;
  }

  header,
  footer {
    img {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      margin: 1rem 0;
    }
  }

  footer {
    padding: 0;

    ul {
      margin-top: 3rem;

      li {
        list-style-type: none;
        margin-bottom: 1rem;

        a {
          display: flex;
          align-items: center;
          color: $gray_dark;

          svg {
            fill: $gray_dark;
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 0.3rem;
          }
        }
      }
    }
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
