div.highlighter-rouge {
  .header {
    color: $base2;
    background-color: $base03;
    padding: 0.3em 0.8em;
    border-radius: 4px 4px 0 0;

    &:after {
      content: attr(data-lang);
      padding: 0 0.6em;
      float: right;
      border-radius: 8px;
    }

    &[data-lang="handlebars"]:after { background-color: $orange; }
    &[data-lang="javascript"]:after { background-color: $yellow; }
    &[data-lang="json"]:after       { background-color: $blue; }
    &[data-lang="ruby"]:after       { background-color: $red; }
    &[data-lang="shell"]:after      { background-color: $green; }
    &[data-lang="yml"]:after        { background-color: $violet; }
  }

  pre {
    color: $base1;
    background-color: $base02;
    padding: 0.1em 1em 1em 1em;
    border: 0;
    border-radius: 0 0 4px 4px;

    .bp  { color: $base1; }
    .c   { color: $base01; font-style: italic; }
    .c1  { color: $base01; font-style: italic; }
    .cm  { color: $base01; font-style: italic; }
    .cp  { color: #AAFFFF; font-style: italic; }
    .cs  { color: $base01; font-style: italic; }
    .err { color: $base1; }
    .g   { color: $base1; }
    .gd  { color: #8a2be2; font-weight: bold; background-color: #008080 }
    .ge  { color: $base1; }
    .gh  { color: #ff00ff; font-weight: bold; }
    .gi  { color: $base1; font-weight: bold; background-color: #00008b }
    .go  { color: #404040; font-weight: bold; }
    .gp  { color: $base1; }
    .gr  { color: $base1; background-color: #c00000 }
    .gs  { color: $base1; }
    .gt  { color: $base1; background-color: #ff0000 }
    .gu  { color: #ff00ff; font-weight: bold; }
    .hll { background-color: #ffffcc }
    .il  { color: $base1; }
    .k   { color: $green; }
    .kc  { color: $red; }
    .kd  { color: $yellow; }
    .kn  { color: $red; }
    .kp  { color: $green; }
    .kr  { color: $orange; }
    .kt  { color: #AAAA77; }
    .l   { color: $base1; }
    .ld  { color: $base1; }
    .m   { color: $base1; }
    .mf  { color: $base1; }
    .mh  { color: $base1; }
    .mi  { color: $cyan; }
    .mo  { color: $base1; }
    .n   { color: $base1; }
    .na  { color: $base1; }
    .nb  { color: $green; }
    .nc  { color: $yellow; }
    .nd  { color: $base1; }
    .ne  { color: $base1; }
    .nf  { color: $base1; }
    .ni  { color: #33AA00; }
    .nl  { color: $yellow; }
    .nn  { color: $yellow; }
    .no  { color: $yellow; }
    .nt  { color: $orange; }
    .nv  { color: $yellow; }
    .nx  { color: $base1; }
    .o   { color: $red; }
    .ow  { color: $base1; }
    .p   { color: $base1; }
    .pi  { color: $red; }
    .py  { color: $base1; }
    .s   { color: $blue; }
    .s1  { color: $cyan; }
    .s2  { color: $cyan; }
    .sb  { color: $green; }
    .sc  { color: $green; }
    .sd  { color: $green; }
    .se  { color: $green; }
    .sh  { color: $green; }
    .si  { color: $red; }
    .sr  { color: $green; }
    .ss  { color: $cyan; }
    .sx  { color: $green; }
    .vc  { color: $yellow; }
    .vg  { color: $yellow; }
    .vi  { color: $blue; }
    .w   { color: $base1; }
    .x   { color: $base1; }
  }
}
