nav.top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  ul {
    display: flex;

    li {
      display: flex;
      align-items: center;
      list-style-type: none;
      height: $height_top_menu;
      margin: 0;
      white-space: nowrap;

      a {
        color: $gray_light;
        letter-spacing: 1px;
        font-size: 1rem;
        padding: 0.25rem;

        img {
          border: none;
          padding-right: 0.5rem;
        }

        svg {
          display: none;
          fill: $gray_light;
          height: 1.3rem;
          width: 1.3rem;
          margin: 0 0.2rem;
        }

        @media (max-width: 800px) {
          svg {
            display: block;
          }
          span.top-menu-link-label {
            display: none;
          }
        }
      }
    }

    li.top-menu-logo {
      flex-grow: 1;

      a {
        display: flex;
        align-items: center;
        padding-left: 0;

        @media (max-width: 500px) {
          span {
            display: none;
          }
        }
      }
    }

    li.top-menu-item:hover {
      background-color: $darker;
    }

    li.top-menu-item.active {
      background-color: $white;

      a {
        color: $gray_dark;

        svg {
          fill: $dark;
        }
      }
    }
  }
}
