{% assign locale_param = page.url | truncate: 3, "" | remove: "/" | strip %}
{% assign locale = locale_param | strip | default: site.data.locales.first.first %}
{% assign i18n = site.data.locales[locale] %}

<!DOCTYPE html>
<html lang="{{ locale }}">
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80405721-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>

</html>
