---
layout: default
---
<article class="blog-post">
  <header>
    <h1>{{ page.title }}</h1>
    <p class="blog-post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      by
      <img src="{{ site.data.author.image }}" alt="{{ site.data.author.name }}" class="img-thumbnail img-circle" width="50px">
      <span>{{ site.data.author.name }}</span>
      {% include category_labels.html categories=page.categories %}
    </p>
  </header>
  <div>{{ content }}</div>
</article>

<nav aria-label="...">
  <ul class="pager">
    {% if page.previous.url %}
      <li>
        <a href="{{ page.previous.url }}" class="btn btn-lg">
          <span aria-hidden="true">&larr;</span> Previous
        </a>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li>
        <a href="{{ page.next.url }}" class="btn btn-lg">
          Next <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url }}"
  },
  "name": "{{ page.title }}",
  "headline": "{{ page.title }}",
  "description": "{{ page.excerpt | strip_html }}",
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.url }}{{ page.image }}",
    "height": "200px",
    "width": "800px"
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.data.author.name }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.data.author.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.data.author.image }}",
      "height": "200px",
      "width": "800px"
    }
  }
}
</script>
