body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

footer {
  background-color: $footer-bg-color;
  padding-top: 3em;
  padding-bottom: 3em;
}

i.fa {
  color: $icon-color;
}

nav.navbar {
  border-radius: 0;
}
